{{#paper-content class='md-padding'}}
  {{#paper-form onSubmit=(action "callForecastApi") as |form|}}
      <div class="layout-row flex-center">
          <div class="layout-column flex-50 flex-offset-25">
            {{form.input label="Enter a Suburb..." value=suburb onChange=(action (mut suburb)) required=true}}
          </div>
          <div class="layout-column flex-10">
            {{#paper-button raised=true  primary=true}}Submit{{/paper-button}}
          </div>
      </div>
  {{/paper-form}}

  <br/>
  <br/>
{{/paper-content}}

{{#if hasresults}}
    <div class="row">
        <div class="text-center">
            <h2>Results:</h2>
        </div>
    </div>
    {{#each message as |i|}}
      {{#paper-content class='md-padding'}}
        {{#paper-content}}

          {{#each i.attributes.forecast as |c| }}
              <div class="well text-center">
                  <div class="row">
                      <h3>{{i.attributes.suburb}} for {{c.day_name}}</h3>
                      <h5 class="blue">Date: {{c.date}}</h5>
                      <hr class="style-seven"/>
                  </div>
                  <div class="row">
                      <div class="col-lg-6">
                          <h1 class="{{icon-name c.icon_filename}}"></h1>
                          <h3 class="blue">{{c.icon_phrase}}</h3>
                      </div>
                      <div class="col-lg-6">
                          <div class="col-lg-3 text-center">
                              <h3><span class="blue">Min:</span> <i
                                      class="wi wi-direction-down"></i> {{ c.min}}
                                  <i class="wi wi-celsius"></i>
                              </h3>
                              <br/>
                          </div>
                          <div class="col-lg-3 text-center">
                              <h3><span class="red">Max:</span> <i
                                      class="wi wi-direction-up"></i> {{c.max}}
                                  <i class="wi wi-celsius"></i>
                              </h3>
                              <br/>
                          </div>
                      </div>
                  </div>
              </div>
          {{/each}}

        {{/paper-content}}
      {{/paper-content}}
    {{/each}}

{{/if}}

{{#unless hasresults}}
    <div class="row">
        <div class="text-center">
            <h5 class="red">Enter a valid suburb name for results:</h5>
        </div>
    </div>
{{/unless}}