{{#paper-content class='md-padding'}}
  {{#paper-form onSubmit=(action "callForecastApi") as |form|}}
      <div class="layout-row flex-center">
          <div class="layout-column flex-50 flex-offset-25">
            {{form.input label="Enter a Suburb..." value=suburb onChange=(action (mut suburb)) required=true}}
          </div>
          <div class="layout-column flex-10">
            {{#paper-button raised=true  primary=true}}Submit{{/paper-button}}
          </div>
      </div>
  {{/paper-form}}

  <br/>
  <br/>
{{/paper-content}}

{{#if hasresults}}
    <div class="row">
        <div class="text-center">
            <h2>Results:</h2>
        </div>
    </div>
    {{#each message as |i|}}
      {{#paper-content class='md-padding'}}
        {{#paper-content}}
            <div class="well text-center">
                <div class="row">
                    <h3>{{i.attributes.suburb}} for {{i.attributes.current.[0].day_name}}</h3>
                    <hr class="style-seven"/>
                </div>
              {{#each i.attributes.current as |c| }}
                  <div class="row">
                      <div class="col-lg-3 col-lg-offset-1">
                          <h1 class="{{icon-name c.icon_filename}}"></h1>
                          <h2>{{c.temperature}} <i class="wi wi-celsius"></i></h2>
                          <h3 class="blue">{{c.icon_phrase}}</h3>
                      </div>
                      <div class="col-lg-8">
                          <div class="col-lg-4 text-center">
                              <h3><span class="blue">Min:</span> <i
                                      class="wi wi-direction-down"></i> {{ c.min}}
                                  <i class="wi wi-celsius"></i>
                              </h3>
                              <br/>

                              <h3><span class="blue">Sunrise:</span> <i
                                      class="wi wi-sunrise"></i></h3>
                              <h4>{{format-date c.sunrise 'h:mm A'}}</h4>
                          </div>
                          <div class="col-lg-4 text-center">
                              <h3><span class="red">Max:</span> <i
                                      class="wi wi-direction-up"></i> {{c.max}}
                                  <i class="wi wi-celsius"></i>
                              </h3>
                              <br/>
                              <h3><span class="blue">Sunset:</span> <i
                                      class="wi  wi-sunset"></i></h3>
                              <h4>{{format-date c.sunset 'h:mm A'}}</h4>
                          </div>
                      </div>
                  </div>
              {{/each}}

            </div>
        {{/paper-content}}
      {{/paper-content}}
    {{/each}}

{{/if}}

{{#unless hasresults}}
    <div class="row">
        <div class="text-center">
            <h5 class="red">Enter a valid suburb name for results:</h5>
        </div>
    </div>
{{/unless}}