{{#paper-toolbar}}
    <div class="md-toolbar-tools">
    {{#link-to 'index'}} {{#paper-button  class=(if buttonActive 'active')}}{{paper-icon 'home'}}Today's Weather{{/paper-button}}{{/link-to}}
    {{#link-to 'forecast'}} {{#paper-button class=(if buttonActive 'active')}}{{paper-icon 'date-range'}}Upcoming Weather Forecast{{/paper-button}}{{/link-to}}

    </div>
{{/paper-toolbar}}

{{liquid-outlet}}